DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
AUTH_SECRET=generate-a-long-random-string
APP_USER_1=user1
APP_PASS_1=password1
APP_USER_2=user2
APP_PASS_2=password2
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
CRON_SECRET=generate-another-random-string
